body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #060417;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}   

.card {
    background-color: #333;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center; /* Nouvelle propriété pour centrer le texte dans la carte */
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #7e61e7;
    border-radius: 5px;
    padding: 30px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #a993fe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: #d9534f;
    margin-bottom: 15px;
}

a {
    padding: 10px;
    background-color: #a993fe;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
